<head>
  <meta charset="utf-8" />
  <title>Forgot your password?</title>
  <link rel="stylesheet" type="text/css" media="screen" href="./css/loginAndRegister.css" />
</head>

<body>
  <div class="box">
    <h1>Reset password</h1>

    <!-- <form action="/resetPassword" method="POST"> -->
      <div class="inputBox">
        <input
          type="text"
          id="DRNO"
          name="DRNO"
          placeholder="Enter Doctor Id"
          required
        />
      </div>
      <div class="inputBox">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter Doctor Name"
          required
        />
      </div>
      <div class="inputBox">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter Password"
          required
        />
      </div>
      <button class="button button" id="btnReset" type="submit">Reset</button>
    <!-- </form> -->
  </div>
  <script>
    const btnRegister = document.getElementById("btnReset");
    const DRNO = document.getElementById("DRNO");
    const password = document.getElementById('password');

    btnRegister.addEventListener("click", async ()=>{
      const result = await fetch("/resetPassword", {"method": "POST", "headers": {"content-type": "application/json"}, "body": JSON.stringify({"DRNO": DRNO.value, "password": password.value})});
      const jResult = await result.json();
      if (jResult.success){
        alert(JSON.stringify(jResult.success))
        location.href = "/login";
      } else {
        alert(JSON.stringify(jResult.fail))
        location.reload();
      }
      
    });
  </script>
</body>
