<!DOCTYPE html>
<html lang="en">
<head>
<title>KFMMC - Patients Page </title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" media="screen" href="./css/styles.css" />
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
<script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

</head>

<body>
  <div class="header">
    <img src="../images/KFMMC_LogoEn.png" alt="KFMMC" style="width:650px;height:200px;">
 </div>

 <div class="navigationBar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active1" href="/patients">Patients</a></li>
      <li style="float:right"><a href="/login">Logout</a></li>
    </ul>
 </div>
  

 <div class="row">
  <div class="side">
    <h6><strong>Patient Count Section</strong></h6>
    <a href="/patientCountYear" >Patient Year Count</a>
    <a href="/patientCountDatePeriod">Patient Date Or Period Count</a>
    <a href="/patientCountDatePeriodSymptom">Patient Date Or Period Disease Count</a>

    <h6><strong>Patient Details Section</strong></h6>
    <a href="/patientDetailsYear">Patient Details For Year</a>
    <a href="/patientDetailsDatePeriod">Patient Details For Date Or Period</a>
    <a href="/patientDetailsDatePeriodSymptom">Patient Details Date Or Period Disease </a>

    <h6><strong>Patient Count Comparison Section</strong></h6>
    <a href="/patientCountYearComparison">Patient Year Count Comparison</a>
    <a href="/patientCountDatePeriodComparison">Patient Date Or Period Count Comparison</a>
    <a href="/patientCountDatePeriodSymptomComparison">Patient Date Or Period Disease Count Comparison</a>
  </div>

  <div class="main">

    <br>
    <br>
    <h4 style="color:red;"><strong>Patient Section </strong> </h4>
    <br>
    <h5 style="color: black;"><strong> This section will help you to get some real and accurate data in regard to patients. <br> View the sections in the vertical menue. </strong> </h5>
</div>
<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>

</body>
</html>
